@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: Louvre;
    src: url(fonts/latin.ttf);
  }

* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
    padding-right: 45px
}

nav ul li a {
    text-decoration: 3px underline solid transparent;
    transition: text-decoration .5s ease;
    font: 18px/1.33 'Montserrat',Verdana,sans-serif;
    font-weight: 600;
    line-height: 3.5rem;
    color: #fff;
    position: relative; 
    letter-spacing: .15rem;
}

nav ul li a:hover {
    text-decoration: 3px underline solid #fff;
}


nav ul {
    background-color: #000;
    display: flex;
}

#logo {
    padding-left: 95px;
}

nav div {
    display: flex;
    height: 95px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    border-bottom: .5px solid #636363;
}

nav div a img{
    width: 20px;
    height: auto;
    filter: brightness(0) invert(1);
    transform: rotate(327deg);
    margin-right: 7px;
}

nav div img {
    height: inherit;
    margin: 0 auto;
}

nav div a{
    padding: 9px 16px;
    background-color: #008573;
    color: #fff;
    font: 14px/1.57 'Roboto','Open Sans','Arial',Helvetica,sans-serif;
    border-radius: 20px;
    font-weight: 600;
    display: flex;
    height: fit-content;
    margin-top: 7px;
    margin-right: 50px;
}

nav div a:hover {
    background-color: #0a4f51;
    text-decoration:underline;
    transition: background-color .3s;
}

nav ul {
    display: flex;
    justify-content: center;
}


/* MAIN */

.banner {
    
}

#background-banner {
    width: 100%;
}

h2 {
    color: #fff;
    font: 400 58px/1.24 Louvre,Georgia,Times New Roman,serif;
    text-transform: uppercase;
}